<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-dark-purple">
        <!-- Main Content -->
        <div id="content">
            <!-- <app-header></app-header> -->
            <!-- Begin Page Content -->
            <div class="container">
                <router-outlet></router-outlet>
            </div>
            <!-- Container Fluid Ends -->
        </div>
        <!-- <app-footer></app-footer> -->
        <!-- End of Main Content -->
    </div>
    <!-- Content Wrapper Ends -->
</div>