<div *ngIf="isLoading">
  <div class="loaderImage"> </div>
  <div class="preLoaderWrapper">  
  </div>
  </div>
<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card bg-gradient-success shadow h-100 py-2 border-0">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <i _ngcontent-ols-c0="" class="fas fa-grin text-white fa-4x"></i>
          </div>
          <div class="col-auto">
            <div class="h1 text-uppercase text-white mb-1">{{this.feelGood}}</div>
            <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Feeling Good</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card bg-gradient-danger shadow h-100 py-2 border-0">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <i _ngcontent-ols-c0="" class="fas fa-frown text-white fa-4x"></i>
          </div>
          <div class="col-auto">
            <div class="h1 text-uppercase text-white mb-1">100</div>
            <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Feeling Not Good</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card bg-gradient-warning shadow h-100 py-2 border-0">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <i _ngcontent-ols-c0="" class="fas fa-star-of-life text-white fa-4x"></i>
          </div>
          <div class="col-auto">
            <div class="h1 text-uppercase text-white mb-1">{{this.covid}}</div>
            <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Covid 19 Positive</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card bg-gradient-primary shadow h-100 py-2 border-0">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <i _ngcontent-ols-c0="" class="fas fa-heart text-white fa-4x"></i>
          </div>
          <div class="col-auto">
            <div class="h1 text-uppercase text-white mb-1">120</div>
            <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Recovered</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content Row -->
