<app-widgetcard [ngClass]="'mb-4'">
    <h6 class="widget-heading m-0 font-weight-bold">Boradcast Message</h6>
    <p>Broadcast the Covid 19 Alert message throughout the organisation</p>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" placeholder=" Message Title">
            </div>
        </div>
        <div class="form-group row">
            <label for="message" class="col-sm-2 col-form-label">Message</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="message" rows="3"></textarea>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">
                    Broadcast messages to
                </legend>
                <div class="col-sm-10">


                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" (click)="toggleManualSelect()">
                        <label class="custom-control-label" for="customRadio1">Manually selected List</label>
                    </div>
                    <div class="form-group row justify-content-center" *ngIf="visibleManual">
                        <div class="col-md-8">
                           
                                <!-- <ss-multiselect-dropdown [options]="manualOptions" class="form-control h-100" [settings]="mySettings">
                                </ss-multiselect-dropdown> -->
                                <app-multiselect
                                    [dropdownOptions] = "manualOptions"
                                ></app-multiselect>
                           
                        </div>
                     </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" (click)="toggleGroupSelect()">
                        <label class="custom-control-label" for="customRadio2">Group</label>
                       
                    </div>
                    <div class="form-group row justify-content-center" *ngIf="visibleGroup">
                        <div class="col-md-8">
                           
                                <!-- <ss-multiselect-dropdown [options]="groupOptions" class="form-control h-100" [settings]="mySettings">
                                </ss-multiselect-dropdown> -->
                                <app-multiselect
                                [dropdownOptions] = "groupOptions"
                                    ></app-multiselect>
                           
                        </div>
                     </div>
                </div>
            </div>
        </fieldset>
        
       
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-secondary mr-2" >Send</button>
                <button type="button" class="btn btn-light">Cancle</button>
            </div>
        </div>
    </form>
</app-widgetcard>